::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  padding: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-bg-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--color);
}

:root {
  --scroll-bg-color: rgb(0, 2, 29);
  --search-scroll-bg-color: rgb(58, 58, 58);
  --bg-color: rgb(23, 25, 46);
  --color: rgb(231, 231, 231);
  --border-radius: 12px;
  --btn-color: rgb(231, 231, 231);
  --btn-bg-color: rgb(92, 92, 92);
  --hover-btn-bg-color: rgba(0, 0, 0, 0.5);
  --active-btn: rgb(0, 0, 0);
  --search-bg-color: rgba(92, 92, 92);
  --standard-fs: 16px;
}

@media (hover: none) {
  button,
  .links {
    &:hover {
      background: transparent;
    }
  }
}
