<div class="logo">
  <img src="assets/svgs/investment.svg" alt="" width="800" />
</div>

<div class="links">
  <div class="card">
    <div class="title">
      <h1>About</h1>
      <span class="material-symbols-outlined"> arrow_forward </span>
    </div>
    <p>
      SyncInvest a tracking application for your investments. Stocks and Crypto.
    </p>
  </div>

  <div class="card">
    <div class="title">
      <h1>Must know</h1>
      <span class="material-symbols-outlined"> arrow_forward </span>
    </div>
    <p>
      Essential things you must know for the best feeling while using the
      application.
    </p>
  </div>
  <div class="card">
    <div class="title">
      <h1>Terms and Condintions</h1>
      <span class="material-symbols-outlined"> arrow_forward </span>
    </div>
    <p>Terms and Conditions for using SyncInvest .</p>
  </div>
</div>
