button {
  background-color: transparent;
  color: var(--btn-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    background: var(--hover-btn-bg-color);
  }
}
