<div class="pages">
  <app-secondary-button
    type="button"
    text="Home"
    (clickEvent)="home()"
  ></app-secondary-button>
  <app-secondary-button
    type="button"
    text="Portfolio"
    (clickEvent)="portfolio()"
  ></app-secondary-button>

</div>

<div class="actions">
  <app-primary-button
    type="button"
    text="Log in"
    alt="Log in"
    (clickEvent)="signIn()"
  ></app-primary-button>
  <app-primary-button
    type="button"
    text="Sign Up"
    (clickEvent)="signUp()"
  ></app-primary-button>
</div>
