@media (min-width: 1025px) {
  .content {
    padding-left: 250px !important;

    app-top {
      min-width: 250px;
    }
  }
}

@media (max-width: 1024px) {
  .content {
    flex-direction: column;

    app-top {
      width: 100%;
    }
  }
}

main {
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: inherit;
  overflow: auto;

  .content {
    display: flex;
    width: 100%;
    padding: 15px;
    gap: 25px;
    height: calc(100vh - 60px);
  }
}
